@import './button.css';
@import './form.css';
@import './table.css';

@theme {
  --color-primary: #0CF47C;
  --color-primary-dark: #0abf65;
  --color-secondary: #f4f4f5; /* light background */
  --color-secondary-dark: #e4e4e7; /* hover or section background */

  --color-sidebar: #121214;
  --color-background-primary: #2B2D31;
  --color-background-secondary: #1A1A1E;

  --text-color: #111111;
  --background-color: #ffffff;
}

body {
  @apply bg-[#2B2D31];
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.side-bar {
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply z-40;
  @apply h-screen;
  @apply w-70;
  @apply transition-transform;
  @apply sm:translate-x-0;
  @apply bg-sidebar;
}

.bg-main {
  @apply bg-background-primary;
}

.main {
  @apply bg-background-secondary;
  @apply flex-1;
  @apply overflow-auto;
  @apply sm:rounded-tl-lg;
  @apply text-white;
}
